body,html{
	height: 100%;
	
}
header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.25rem;
	background-color: rgba(246,246,246,1);
	text-align: center;
	font-size: 0.390625rem;
	color: #333;
	font-weight: bold;
	line-height: 1.25rem;
}
header .back{
	display: block;
	width: 0.625rem;
	height:1.25rem;
	position: absolute;
	left: 0.234375rem;
	top: 0;
	background: url(../../../car/img/1.png)no-repeat center center;
	background-size: contain;
}
header .search_div{
	width: 50%;
	height: 0.703125rem;
	border: 1px solid #999;
	margin: 0.203125rem auto;
	background-color: rgba(246,246,246,1);
	
}
.search_div i:after{
	content:'' ;
	display: block;
	float: left;
	width: 0.625rem;
	height: 100%;
	background: url(../img/search.png) no-repeat left center;
	background-size: contain;
}
.search_div input{
	display: block;
	width: 80%;
	height: 90%;
	float: right;
	outline: none;
	border: none;
	text-indent: 0.3125rem;
	float: left;
	background-color: rgba(246,246,246,1);
}
header .search{
	display: block;
	width:1.875rem;
	height:1.25rem;
	position: absolute;
	right: 0.234375rem;
	top: 0;

	font-size: 0.46875rem;
	font-weight: 100;
	background-size: contain;
	color: #999;
}

section{
	position: absolute;
	top: 1.25rem;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	overflow-x: hidden;
	background-color: rgba(246,246,246,1);
}
.div-search{
	padding: 0.46875rem;
	width: 100%;
	overflow: hidden;
}
.div-search .title{
	width: 100%;
	height: 0.625rem;
	line-height: 0.625rem;
	font-size: 0.390625rem;
	color: #999;
}
.hot_search{
	width: 100%;
	overflow: hidden;
	display: flex;
	/*justify-content: space-around;*/

	flex-wrap: wrap;
}
.hot_search >div {
	padding: 0.234375rem ;
	margin: 0.234375rem 0.234375rem;
	border-radius: 0.3125rem;
	background-color: #fff;
	font-size: 0.3125rem;
}
.history_search {
	width: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
 .title{
	width: 100%;
	height: 0.625rem;
	line-height: 0.625rem;
	font-size: 0.390625rem;
	color: #999;
}
.history_search >div {
	padding: 0.234375rem ;
	margin: 0.234375rem 0.234375rem;
	border-radius: 0.3125rem;
	background-color: #fff;
	font-size: 0.3125rem;
}
.clean_history {
	width: 80%;
	height: 1.25rem;
	border: 1px solid #999;
	background-color: #fff;
	font-size: 0.46875rem;
	margin: 0.234375rem auto;
	border-radius: 0.3125rem;
	text-align: center;
	line-height: 1.25rem;
	color: #999;
}
