nav{
	width: 100%;
	height: 1.25rem;
	background-color: red;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.all{
	width: 100%;
	overflow: auto;
	margin-top: 1.25rem;
}
.swiper-container{
	width: 100%;
	height: 3.90625rem;
}
#banner .swiper-slide{
	width: 100%;
	height: 100%;
}
#banner img{
	width: 100%;
}
#content{
	background-color: #ccc;
}
.btns{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #fff;
}
.btns .htn{
	width: 25%;
	margin: 0.3125rem 0;
	text-align: center;
	background-color: #fff;
	font-size: 0.46875rem;
}
.btns .htn img{
	width: 100%;
}
.reffer{
	width: 100%;
	height: 3.90625rem;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	margin: 0.3125rem 0;
	box-sizing: border-box;
}
.reffer .ref{
	flex-grow: 1;
}
.reffer .ref:nth-child(2){
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.ref1{
	background: url(../img/cms_113619_1483090657.jpg)no-repeat center center;
	background-size: contain;
}
.ref2{
	background: url(../img/cms_118464_1483090726.jpg)no-repeat center center;
	background-size: contain;
}
.ref3{
	background: url(../img/2016121318392062.jpg@90Q.jpg)no-repeat center center;
	background-size: contain;
}
.sales{
	width: 100%;
	height: 3.90625rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.sales .sale {
	width: 50%;

}
.sal1 {
	background: url(../img/2016122610531910.jpg@90Q.jpg)no-repeat center center;
	background-size: contain;
	border-bottom: 1px solid #ccc;
}
.sal2 {
	background: url(../img/2016112918160610.jpg@90Q.jpg)no-repeat center center;
	background-size: contain;
	border-bottom: 1px solid #ccc;
}
.sal3 {
	background: url(../img/2016092417350939.png@90Q.png)no-repeat center center;
	background-size: contain;
}
.sal4 {
	background: url(../img/201609241914489.jpg@90Q.jpg)no-repeat center center;
	background-size: contain;
}
.milk{
	width: 97%;
	padding: 0.15625rem;
}
.top{
	width: 100%;
	height: 0.625rem;
	background-color: #fff;
}
.top i:before{
	content: '';
	display: inline-block;
	float: left;
	width: 2%;
	height: 100%;
	line-height: 0.625rem;
	background-color: mediumpurple;
}
.top h3{
	display: inline-block;
	width: 60%;
	height: 100%;
	float: left;
	font-weight: 300;
	font-size: 0.46875rem;
	color: mediumpurple;
}
.top span{
	float: right;
	height: 100%;
	line-height: 0.625rem;
	padding-right: 0.234375rem;
	font-size: 0.390625rem;
	
}
.milk img{
	width: 100%;
}
.milks{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
}
.milks .milk1{
	box-sizing: border-box;
	position: relative;
}
.milks .milk1:nth-child(2){
	border-left: 1px solid #ccc;
}
.milks .milk1:nth-child(3){
	border-left: 1px solid #ccc;
}
 .milk1 img{
 	width: 3.125rem;
 	margin: 0 auto;
 }
 .milk1 p{
 	text-indent: 0.15625rem;
 }
 .milk1 .name{
 	font-size: 0.3125rem;
 	color: #333;
 }
 .milk1 .name1{
 	font-size: 0.3125rem;
 	color: #999;
 }
 .milk1 .price{
 	font-size: 0.46875rem;
 	color: #f00;
 }
 .milk1 .addToCar{
 	width: 0.625rem;
 	height: 0.625rem;
 	border: 1px solid #777;
 	border-radius: 50%;
 	position: absolute;
 	bottom: 0;
 	right: 0.3125rem;
 	font-size: 0.625rem;
 	text-align: center;
 	line-height:0.625rem;
 	color: red;
 	border-color: #eee;
 }
.fruit{
	margin-top: 0.3125rem;
}
.fruit i:before{
	background-color: red;
}
.fruit h3{
	color: red;
}
.sock{
	margin-top: 0.3125rem;
}
.sock i:before{
	background-color: #9E00A6;
}
.sock h3{
	color: #9E00A6;
}